/* wildcard 外卡 野牌 通配符*/
* {
    margin: 0;
    padding: 0;
}

h1 > #yellow { /*子选择器*/
    color: #ff0;
}

h1 {
    color: #0f0;
}

p {
    height: 100px;
    background: #ddd;
    text-indent: 2em;
}

.round {
    border-radius: 50px;
    color: blue;
}

.red {
    color: red;
}

#test {
    text-decoration: underline;
}

#blue {
    color: blue;
}

/* 可读性 */

table {
    border-width: 1px;
    border-style: solid;
    border-color: #ddd;
}

tr {
    background: #fcc;
}

th {
    background: #ddd;
    width: 200px;
}

body {
    font-family: Aharoni, serif;
}

tr,
body,
h1,
p {

}


